{% extends 'base.html.twig' %}

{% block title %}BlogArticle index{% endblock %}

{% block body %}
    <h1>BlogArticle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>TargetDate</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog_article in blog_articles %}
            <tr>
                <td>{{ blog_article.id }}</td>
                <td>{{ blog_article.title }}</td>
                <td>{{ blog_article.targetDate ? blog_article.targetDate|date('Y-m-d') : '' }}</td>
                <td>{{ blog_article.content }}</td>
                <td>
                    <a href="{{ path('blog_article_show', {'id': blog_article.id}) }}">show</a>
                    <a href="{{ path('blog_article_edit', {'id': blog_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blog_article_new') }}">Create new</a>
{% endblock %}
