{% extends 'base.html.twig' %}

{% block title %}BlogArticle{% endblock %}

{% block body %}
    <h1>BlogArticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blog_article.title }}</td>
            </tr>
            <tr>
                <th>TargetDate</th>
                <td>{{ blog_article.targetDate ? blog_article.targetDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blog_article.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blog_article_index') }}">back to list</a>

    <a href="{{ path('blog_article_edit', {'id': blog_article.id}) }}">edit</a>

    {{ include('blog_article/_delete_form.html.twig') }}
{% endblock %}
