<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("toppage") }}"><i class="fa fa-music"></i>クラシックシンフォニー楽団</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path("toppage") }}">トップ</a></li>
                <li><a href="{{ path("concert") }}">公演情報</a></li>
                <li><a href="{{ path("toppage") }}">楽団プロフィール</a></li>
                <li><a href="{{ path("toppage") }}">ブログ</a></li>
                <li><a href="{{ path("toppage") }}">お問い合わせ</a></li>
            </ul>
        </div>
    </div>
</div>
